# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
#README.md#
CMakeCache.txt
CMakeFiles/CMakeCCompiler.cmake
CMakeFiles/CMakeCXXCompiler.cmake
CMakeFiles/CMakeDetermineCompilerABI_C.bin
CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/CMakeSystem.cmake
CMakeFiles/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/CompilerIdC/a.out
CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/CompilerIdCXX/a.out
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/Progress/1
CMakeFiles/Progress/count.txt
CMakeFiles/TargetDirectories.txt
CMakeFiles/cmake.check_cache
CMakeFiles/progress.marks
CMakeFiles/server.dir/CXX.includecache
CMakeFiles/server.dir/DependInfo.cmake
CMakeFiles/server.dir/build.make
CMakeFiles/server.dir/cmake_clean.cmake
CMakeFiles/server.dir/depend.internal
CMakeFiles/server.dir/depend.make
CMakeFiles/server.dir/flags.make
CMakeFiles/server.dir/link.txt
CMakeFiles/server.dir/progress.make
Makefile
cmake_install.cmake
